{% extends 'users/layout.html' %} 
{% block content %} 
{% load static %}
<div class="row">
    <div class="col-sm-3">
   
  </div>
  <div class="col-sm-6">
    <div class="container mt-5">
        
      
          <div class="card mb-3">
            <div class="card-body">
       
           
                <form action=""  method="POST"

               >{% csrf_token %}
               {{ form.as_p }}
                <div class="col-12">
                    <label for=""  class="form-label">Computer language</label>
                    <input type="text" class="form-control"for="" name="lang_name"  value="{{vu.lang_name}}"  placeholder="{{vu.lang_name}}" required>
                  </div>
                  <div class="col-12 mt-3">
                    <label for="inputAddress2"  for="" class="form-label">Title of Error or Code Snip</label>
                    <input type="text" for="" class="form-control"name="err_title"  value="{{vu.err_title}}" placeholder="{{vu.err_title}}" required>
                  </div>
                  <div class="card-body">
                    <textarea
                    type="text"
                    for=""
                    name="fixer_code"
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="8"
                      required
                    >
                        {{vu.fixer_code}}
                    </textarea
                    >
                  </div>

                  <div class="col-12">
                    <label for="" class="form-label">Description</label>
                  <textarea  type="text" for="" name="os_tech" class="form-control" id="exampleFormControlTextarea1" rows="3" required>{{vu.os_tech}}</textarea>
                  </div>
        
                  <div class="col-6 mt-3">
                    <button for="" type="submit" href="edit/{{vu.id}}"value="submit" name="Update" class="btn btn-primary">Update</button>
                    <button type="submit" href="delete/{{vu.id}}" value="submit" name="Delete" class="btn btn-danger">Delete</button>
                  </div>
                 
                </form>
              
            </div>
          </div>
   
    </div> 
  </div>
    <div class="col-sm-3">

    </div>
  
</div>

{% endblock %}