 {% extends 'users/layout.html' %} {% block content %}  
{% csrf_token %}
<div class="row">
  <div class="col-sm-12">

    <div class="container">
      <div class="bg-light p-3 rounded-lg m-12"><ul class="list-unstyled">
          {% for ssnips in estos %}
          <li class="centrar">
            <div class="card">
              <div class="card-header text-center">{{ssnips.lang_name}}</div>
              <div class="card-body">
                <h5 class="card-title">{{ssnips.err_title}}</h5>
                <p class="card-text">
            {{ ssnips.os_tech}}
                </p>
              </div>

              <div class="card-body">
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="16"
                >
                    {{ssnips.fixer_code}}
                </textarea
                >
              </div>
              <div class="card-footer"><a href="edit/{{ssnips.id}}">Edit</a></div>
            </div>

            <hr class="my-4" />
          </li>
          {% endfor %}
        </ul>
   
      </div>
    </div>

    
  </div>
</div>

{% endblock %} --> 